<!--
show_profile.html
Theodore Harlan
Hpt@bu.edu
Date: 2026-2-15
Description:
Singular profile view. Counts profiles followed
and following, and previews of Posts and Photos
this account has uploaded.
-->


{% extends "mini_insta/base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<h1>{{ profile.display_name }}</h1>

<div style="display:flex; gap:20px;">
    <div>
        <img src="{{ profile.icon }}" alt="profile image" width="200">
    </div>
    <table>
        <tr><th>Username:</th><td>{{ profile.username }}</td></tr>
        <tr><th>Display Name:</th><td>{{ profile.display_name }}</td></tr>
        <tr><th>Bio:</th><td>{{ profile.bio }}</td></tr>
        <tr><th>Joined:</th><td>{{ profile.joined }}</td></tr>
        <tr><th>Followers</th><td><a href="{% url 'followers' profile.pk %}">{{ profile.get_num_followers }}</a></td></tr>
        <tr><th>Following</th><td><a href="{% url 'following' profile.pk %}">{{ profile.get_num_following }}</a></td></tr>
    </table>
     <p>
        {% if user.is_authenticated and user.profile != profile %}
        <a href="{% url 'follow' profile.pk %}">Follow</a>
        {% endif %}
    </p>
</div>
    <p> 
        Posts:
        <div>
            {% for post in profile.post_set.all %}
            <hr>
                <p>
                    <a href="{% url 'show_post' post.pk %}">
                        {{ post.caption }}
                    </a>
                </p>
            {% with first_photo=post.photo_set.first %}
                {% if first_photo %}
                    <img src="{{ first_photo.get_image_url }}" width="200">
                {% else %}
                    <img src="https://leadpointe.com/common/images/placeholder.jpg" width="200">
                {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    </p>
    
{% endblock %}