<!-- File: following.html 
Created: Mar 1
Modified Mar 2
Author: Theodore Harlan
hpt@bu.edu
Description:
Page displaying form for some updateable
information about a profile, linked to in
footer whenever a profile is in context.
-->


{% extends "mini_insta/base.html" %}

{% block title %}Update Profile{% endblock %}

{% block content %}
<h1>Update Your Profile</h1>

<form method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit">Save Changes</button>
    <a href="{% url 'show_profile' user.profile.pk %}">
        <button type="button">Cancel</button>
    </a>
</form>

{% endblock %}